<% provide(:title, "About") %>
<div class="row">
<h1>About</h1>

<div class="col-lg-6">
<img src="トロル.jpeg" width="550px" height="550px">
</div>
<div class="col-lg-6 about-design">
①大好きな人や新しい知り合いと背景を共有してつながりを深めよう。
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 about-design">
    ②Landscape SNSでは全ての人にとって安全で支え合いのあるコミュニティを育んでいます。
    </div>
    <div class="col-lg-6">
    <img src="バンフ.jpeg" width="550px" height="550px">
    </div>
  </div>
</div>
</div>
