<% provide(:title, "お問い合わせ") %>
<h1>お問い合わせページ</h1>
<p>こちらのページはヘルプセンターです。</p>

<p>こちらではヘルプに記載されていないトラブルについて扱います。</p>
<p>まずはヘルプにて確認後お問い合わせを行うようよろしくお願い致します。</p>
<p><a href="/help">■■■■   ヘルプのリンクはこちらからアクセスできます。   ■■■■</a></p>
<p>利用中に問題や不具合が見つかった場合は下記のアドレスへご連絡ください。</p>
<p>example@example.com</p>
<p>対応のお返事はサポートからメールがきます。</p>
<p>メールの返信タイミングは数日かかる場合もございます、ご了承ください。</p>
