<% provide(:title, "ヘルプ") %>
<h1>ヘルプ</h1>

<p>ヘルプセンター</p>
<p>Landscape SNSとは</p>
<ul>■既知の問題
<li>現在、報告が必要な問題はありません。問題が発生した場合はお問い合わせよりご連絡ください。</li>
</ul>

<ul>■よくある質問
<li>アカウントの登録方法</li>
<p>トップページより登録のリンクURLにて各項目入力を行い登録してください</p>
■投稿方法
<li>投稿の箇所より投稿内容を記述後に投稿できます。</li>
<li>また画像の添付もできますのであなただけの綺麗な風景を載せてみなさんと画像を共有しましょう！</li>
</ul>

<p>■ユーザーアイコンの設定方法</p>
<p>デフォルトアイコンからの変更の場合は下記のURLより登録後画像の変更ができます。<br>
<a href="https://ja.gravatar.com">■■■■■■   gravatarのサイトURLはこちらをクリック！   ■■■■■■</a><br>

＜ ※ 注意 ※ ＞Facebookからユーザーを登録した方に関してはemailアドレスをLandscape SNSのサイトより登録後に上記サイトにアクセスするようお願い致します。<br>
■設定方法は下記の通りです<br>
ログイン後にアカウント→ユーザー設定からemailアドレスを登録可能となっております。
</p>
　　<br><%= link_to "facebookでログイン",'/auth/facebook' %><br>
