<% provide(:title, "利用規約") %>
<h1>利用規約</h1>
<p>■利用規約■</p>
<p>＜はじめに＞</p>
<p>■Landscape SNSをご覧いただきありがとうございます。</p>
<p>＜変更と通知＞</p>
<p>■当Webサイトは予告なく本規約の内容を変更する場合がありますので、あらかじめ御了承下さい。</p>
<p><料金について></p>
<p>■当サイトのサービス利用につきましては無料でございます。</p>
<p><禁止事項></p>
<p>■当サイトに対する意図的な過剰アクセス、またクラッキング行為を禁止しております。<p>
<p>■禁止事項に該当する行為が見られた場合はアカウント停止を行います。<p>
<p><免責事項></p>
<p>■当サイトを利用に際し起因する損害についてその責を負わないものとする。</p>
<p>■当サイトを利用者が当サイトを通じ他社に損害を与えた場合は自らの責任において問題解決するのもとする。</p>
<p><個人情報について></p>
<p>■当サイトで個人情報の収集、または利用する事はございません。</p>


＜その他＞
利用規約意外にもお問い合わせがある場合当サイトのヘルプを確認後、お問い合わせよりご質問をお願い致します。
