<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.realname %>
        <%= "<@#{@user.name}>" %><br>
      </h1>
    </section>
  </aside>
</div>
