<header class="navbar navbar-fixed-top bg-info">
  <div class="container">
      <%= link_to image_tag('/land.png'), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",   '#' %></li>
        <li><%= link_to "ヘルプ",   '#' %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
